body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.number-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #e1ebff;
  color: #1358d8;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.related-heading {
  font-size: 38px;
  color: #1b2a4e;
}

.single-slide,
.project-card {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.single-slide:hover,
.project-card:hover {
  transform: scale(1.03);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 80%;
  color: white;
  z-index: 2;
}

.overlay h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}

.learn-more {
  display: inline-block;
  margin-top: 10px;
  color: white;
  font-weight: 500;
  font-size: 0.95rem;
  text-decoration: none;
}

.learn-more:hover {
  text-decoration: underline;
}

.project-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
  border-radius: 20px;
}


.carousel-indicators.custom-indicators {
  bottom: -30px !important;
}

.carousel-indicators.custom-indicators button {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #bfbfbf;
  border: none;
  margin: 4px;
  opacity: 1;
}

.carousel-item {
  transition: transform 0.8s ease-in-out;
}

.vertical-line {
  border-left: 1px solid grey;
  height: 100px;
  display: flex;
}

.blog-card {
  transition: 0.3s ease;
  border-radius: 14px;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.blog-card img {
  height: 260px;
  object-fit: cover;
  border-radius: 14px;
}

.blog-content p {
  margin-bottom: 1.5rem;
}

.blog-content img {
  max-width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}


.active {
  background-color: #0d6efd;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.modal-content {
  border-radius: 16px;
}

.btn-outline-secondary,
.form-control,
.btn-primary {
  border-radius: 10px;
}

.btn-primary {
  padding: 10px;
}

.center-content {
  display: flex !important;
  align-items: center;
  justify-content: center;
  justify-items: center;
}


@media screen and (max-width: 992px) {

  .related-heading {
    font-size: 30px;
  }

  .single-slide,
  .project-card {
    height: 300px;
  }

  .overlay {
    bottom: 15px;
    left: 15px;
    width: 90%;
  }

  .vertical-line {
    display: none !important;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
}



@media screen and (min-width: 768px) {

  .related-heading {
    font-size: 26px;
    text-align: center;
  }

  .single-slide,
  .project-card {
    height: 260px;
  }

  .overlay h4 {
    font-size: 1rem;
  }

  .blog-card img {
    height: 200px;
  }

  .number-circle {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}


@media screen and (max-width: 576px) {
  .color-circle {
    width: 60px;
    height: 60px;
  }

  .overlay {
    bottom: 10px;
    left: 10px;
  }

  .learn-more {
    font-size: 0.85rem;
  }

  .btn-primary {
    width: 100%;
  }
}

/*width: 430px !important*/
@media screen and (min-width <320px) {
  * {
    width: "430px" !important;
  }

  div.container,
  .row {
    flex-direction: column !important;
  }

  .vertical-line {
    display: none !important;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .listPackage {
    position: fixed;
  }
}
